

<h1>User History</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Laptop</th>
      <th>Checked Out</th>
      <th>Checked In</th>
    </tr>
  </thead>

  <tbody>
    <% @user_histories.each do |user_history| %>
      <tr>
      	<td><%= UsersController.new.find_user_by_id(user_history.user_id.to_i) %> </td>
        <td><%= TransactionsController.new.history_report(user_history.transaction_id.to_i, 0) %></td>
        <td><%= TransactionsController.new.history_report(user_history.transaction_id.to_i, 1) %></td>
        <td><%= TransactionsController.new.history_report(user_history.transaction_id.to_i, 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>