<html>
	<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			margin: 0 auto;
		}
		
		table tr td {
			padding-left: 10px;
			padding-right: 10px;
		}
		
	</style>

	<br />
	<header id="logo"></header>
	<h1>Laptop Checkout</h1>
	
	<table>
		<tr><td><br /></td></tr>
		
		<tr>
			<td><a href="/check-in"><button id="big_button">Check-In</button></a></td>
			<td><a href="/check-out"><button id="big_button">Check-Out</button></a></td>
		</tr>
		
		<tr><td><br /></td></tr>
		
		<tr>
			<td><a href="/checkout"><button id="big_button">Status</button></td>
			<td><a href="/checkout"><button id="big_button">Manage</button></td>
		</tr>
	</table>
	
</html>