<% provide(:title, 'Check-In') %>
<html>
	<style>
		#checkout {
			width: 275px;
			height: 100px;
			margin: 0 auto;
			background-color: #CCC;
			border: black;
			border-style: solid;
			border-width: 2px;		
		}
		
		#checkout table {
			padding-left: 20px;
		}
		
		#labels {
			font-weight: bold;
		}
		
		#labels td {
			padding-left: 5px;
		}
		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		#navbar {
			width: 600px;
			height: 100px;
			margin: 0 auto;
		}
	</style>

	<br />
	<header id="logo"></header>
	<h1>Laptop Check-In Form</h1>
	
		<table>
			<tr><br /></tr>
			<tr id="labels">
				<td>Scan Code</td>
			</tr>
			
			<tr>
				<td><%= text_field(:laptops, :scan_code)%></td>
				<td><%= button_to 'Check-In', :controller => 'index', :action => 'find_laptop_by_scan_code' %></td>
			</tr>
		</table>
		
	<body OnLoad="document.checkout.scan_code.focus()" />
	
	<br />
	
	<div id="navbar">
		<a href="/"><button id="small_button">Return</button>
	</div>
</html>