<% provide(:title, 'Status') %>
<html>
	<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			margin: 0 auto;
			border-collapse:collapse;
		}
		
		table tr th {
			border-bottom: 2px solid black;
		}
		
		table tr td {
			padding-left: 10px;
			padding-right: 10px;
		}
		
		#navbar {
			margin: 0 auto;
			width: 50px;
			padding-top: 5px;
		}
		
	</style>

	<br />
	<header id="logo"></header>
	<h1>Laptop Status</h1>
	
	<table>
		<thead>
			<th>Laptop</th>
			<th>Checked-Out By:</th>
			<th>When</th>
			<th>Overdue?</th>
		</thead>
		
		<tbody>
			
		</tbody>
		
		
	</table>
	<div id="navbar">
		<a href="/"><button id="small_button">Home</button></a>
	</div>
</html>