<% provide(:title, 'Laptops') %>
<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			border-collapse: collapse;
			width: 0 auto;
			margin: 0 auto;
			empty-cells: show;	
		}
		
		table tr th {
			border-bottom: 2px solid black;
		}
		
		table tr {
			text-align: left;
		}
		
		#navbar {
			width: 0 auto;
			margin: 0 auto;
			float: left;
		}
		
		#spacing {
			padding-right: 40px;
		}
		
		#id {
			text-align: center;
		}
		
		#bottom_border {
			border-top: 2px solid black;
			padding-top: 5px;
		}
</style>
<br />
<header id="logo"></header>
<h1>Checkout Status</h1>


<table>
  <thead>
    <tr>
      <th><div style='width: 150px'>Item</div></th>
      <th><div style='width: 150px'>Checked Out By</div></th>
      <th><div style='width: 150px'>Checked Out At</div></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    		<% if transaction.checked_out == true then %>
    			<tr>
    				<td><%= LaptopsController.new.find_laptop_by_id(transaction.laptops_id) %></td>
			        <td><%= UsersController.new.find_user_by_id(transaction.users_id.to_i)%></td>
			        <td><%= TransactionsController.new.format_timestamp(transaction.checked_out_time) %></td>
		    	</tr>
    		<% end %>
    <% end %>
    
  </tbody>
  
  <tr>
  	<td id="bottom_border">
  		<div id="navbar">
			<a href="/"><button id="small_button">Home</button></a>
		</div>
  	</td>
  	<td id="bottom_border"></td>
  	<td id="bottom_border"></td>
  </tr>
  
  
</table>

<br>

