<% provide(:title, 'Laptops') %>
<style>
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		body {
			
		}
		
		form {
			margin: 0 auto;
			width: 0 auto;
			text-align: center;
			font-weight: bold;
			color: black;
		}
		div {
			margin: 0 auto;
			width: 0 auto;
			text-align: center;
			padding-right: 155px;
			padding-top: 5px;
		}
		
</style>
<br />
<header id="logo"></header>
<h1>Check-In Laptop</h1>

<script>
	function resetForm(form){
    	form.reset();
	}
	function clearField(field){
		field.value = '';
		return true;
	}
	function clearText(field){
		if(field.defaultValue == field.value){
		field.value = “”;
		} 
		else if(field.value == “”){
			field.value = field.defaultValue;
		}
	}
	
</script>

<body>
	<form action="check-in" method="post">
		<%= token_tag %>
	    <%= text_field_tag :scan_code, params[:scan_code], :placeholder => "Scan Code", :id => "scan_tag", :autofocus => true %>  
	    
	    <%= button_tag(:id => "small_button", :type => 'submit', :name => nil) do
  			content_tag(:strong, 'Check-In') end %>		
	</form> 
	  	<div class="actions">
			<a href="/"><button id="small_button">Home</button></a>
  		</div>
</body>