	<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		table {
			margin: 0 auto;
		}
		
		table tr td {
			padding-left: 10px;
			padding-right: 10px;
		}
		
		#navbar {
			width: 0 auto;
			height: 100px;
			margin: 0 auto;
			text-align: center;
		}
		
	</style>

	<br />
	<header id="logo"></header>
	<h1>Control Panel</h1>
	
	<table>
		<tr><td><br /></td></tr>
		
		<tr>
			<td><a href="/users/new"><button id="big_button">Add User</button></a></td>
			<td><a href="/laptops/new"><button id="big_button">Add Laptop</button></a></td>
		</tr>
	</table>
	
	<br />
	
	<div id="navbar">
		<a href="/"><button id="small_button">Home</button></a>
	</div>