<html>
	<style>		
		h1 {
			text-align: center;
			font-family: arial;
			font-size: 20px;
		}
		
		#navbar {
			width: 600px;
			height: 100px;
			margin: 0 auto;
		}
		
	</style>

	<br />
	<header id="logo"></header>
	<h1>Status</h1>
	
	<%= @user.firstname %>, <%= @user.lastname %>, <%= @user.email %>
	
	<br />
	
	<div id="navbar">
		<a href="/"><button id="small_button">Home</button></a>
	</div>
	
</html>